<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <h1>Add a new cupcake!</h1>

  <form id="cupcake_form">
    <label for="flavor">Flavor </label>
    <input id="flavor" type="text">

    <label for="size">Size</label>
    <input id="size" type="text">

    <label for="rating"> Rating</label>
    <input id="rating" type="text">

    <label for="image_url">Image Url </label>
    <input id="image_url" type="url">

    <button>Submit New Cupcake</button>
  </form>

  <h2>Cupcake List</h2>
  <ul id="cupcake_list">

  </ul>


  <script src="/static/cupcakes.js"></script>

</body>
</html>

